<div class="controls">
  <a class='control-button' data-direction='first'><<</a>
  <a class='control-button' data-direction='prev'><</a>
  <a class='control-button' data-direction='next'>></a>
  <a class='control-button' data-direction='last'>>></a>
</div>
<div class="chessground shiny-blue medium cburnett coordinates" id="ground1"></div>
<div class="pgn" id="pgn"></div>
